a.nav-a {
    color: #fff;
    float: left;
    font-size: 13px;
    font-weight: bold;
    line-height: 24px;
    margin-right: 20px;
    text-decoration: underline;
}
span.glyphicon {
	color: #CD0000;
	text-decoration: underline;
}
a.nav-a:hover {
	color: #00c;
}

.highlight {
	color:red;
}

.wenxian {
	color: #fff;
}
