<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>72star</display-name>
  
  <!--配置文件-->
  <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/config/application-context.xml
		</param-value>
	</context-param>
	
	<!--\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\spring相关配置\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
	
	<!--当hibernate+spring配合使用的时候，如果设置了lazy=true,那么在读取数据的时候，
		当读取了父数据后，hibernate会自动关闭session，这样，当要使用子数据的时候，
		系统会抛出lazyinit的错误，这时就需要使用spring提供的 OpenSessionInViewFilter-->
	<filter>
		<filter-name>osivFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
	</filter>
	
	<!--ContextLoaderListener的作用就是启动Web容器时，自动装配ApplicationContext的配置信息。即启动spring容器。-->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!--在服务器运行过程中，Spring不停的运行的计划任务和OpenSessionInViewFilter，
	     使得Tomcat反复加载对象而产生框架并用时可能产生的内存泄漏，
	     则使用IntrospectorCleanupListener作为相应的解决办法。
	-->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	
	<!--\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
	
	<!--\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\spring mvc 配置\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
	<servlet>
		<servlet-name>starAdmin</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/config/star-servlet-admin.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>starFront</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				<!--
				/WEB-INF/config/star-servlet-front.xml
				/WEB-INF/config/plug/**/*-servlet-front-action.xml
				-->
			</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>starAdmin</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>starFront</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>
	
	<session-config>
		<session-timeout>20</session-timeout>
	</session-config>
	
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
